@{
    ViewBag.Title = "Welcome to Adventure Works Photo Sharing";
}

<p>Welcome to Adventure Works Photo Sharing! Use this site to share your adventures.</p>

<h2>Latest Photos:</h2>

@Html.Action("_PhotoGallery", "Photo", new { number = 5 })

@*<nav>
    <ul>
        <li><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></li>
        <li><a href="#"></a>@Html.ActionLink("Photos", "Index", "Photo")</li>
    </ul>
</nav>*@

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Welcome to Adventure Works Photo Sharing</title>
    </head>
    <body>
        <div>
            <p>Welcome to Adventure Works Photo Sharing! Use this site to share your adventures.</p>

            <h2>Latest Photos:</h2>

            @Html.Action("_PhotoGallery", "Photo", new { number = 3 })

        </div>
    </body>
    </html>*@
